#count{color:purple
}
body{color:blue;text-align:center;background-image:linear-gradient(red,blue);height:1400px
}
.button{color:green;border-radius:100px;width:100px;background-color:turquoise;box-shadow:10px 10px 10px rgb(0, 0, 0)
}
img{height:50vh}
